%div.medium-form
  %p.text-left
    %b= link_to 'Home', root_path, class: "text-info"
    >
    = link_to product.category.name, category_path(category)
 
  %hr
  %div.panel.panel-default
    %div.panel-heading
      %h3.panel-title Editing product
    %div.panel-body    
      = render 'form'
      
      = link_to 'Back', category_path(category), class: "btn btn-default"
      \|  
      = link_to 'Show without saving', category_product_path(category, product)
