%div.medium-form
  - if flash[:error]
    %div.alert.alert-danger= flash[:error]
  
  %p.text-left
    %b= link_to 'Home', root_path, class: "text-info"
    >
    = link_to product.category.name, category_path(category)
  
  %hr
  
  %h2.text-right #{product.title}

  %p.text-right
    Price:
    %span.badge= product.price
 
  %div.panel.panel-default
    %div.panel-heading
      %h3.panel-title Description:
    %div.panel-body
      = product.description 
 
  %hr
  
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: "pull-right btn btn-default"
  = link_to 'Back', category_path(category.id), class: 'btn btn-primary'
  
  %br
  %br
   
  %div.panel.panel-default
    %div.panel-heading
      %h3.panel-title Reviews
    %div.panel-body
      = render reviews
      = render 'reviews/form'
